<!DOCTYPE html>
<html lang="en" ng-app="indexApp">
    <head>
        <meta charset="UTF-8">
        <title>Air Quality Map</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script   src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDM-CFAHVNhqiY5Ns3UZPqoYiOXcOjjKzc&v=3&libraries=places,geometry,visualization"></script>
        <script src="js/markerclusterer.js"></script>
        <script src="js/index.js"></script>
        <link rel="stylesheet" href="css/index.css"/>
    </head>
    <body id="index-body">
        <div ng-controller="IndexController">

            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">Air Quality</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active"><a class="nav-link" href="#">Home </a></li>
                        <li class="nav-item"><a class="nav-link" href="about.html">About The Project </a></li>
                    </ul>
                </div>
            </nav>

            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-sm text-center">
                        <div id="map" data-ng-init="init()">
                        </div>
                        <input id="pac-input" class="controls" type="text" placeholder="Search Box" ng-init="initSearchBox()">
                        <br>
                        <button type="button" class="btn" ng-click="toggleHeatmap()">ENABLE HEAT MAP</button>
                        <br><br/>
                        <table class="table table-striped dynamicTable" id="map-input">
                            <thead>
                                <th>Particle Type</th>
                                <th>Greater Than / Less Than</th>
                                <th>Value</th>
                            </thead>
                            <tbody id="filter-body"></tbody>
                        </table>
                        <button type="button" class="btn btn-dark" ng-click="submitRequest()">Submit Filter</button>
                        <br/><br/>
                        <div id="calendars" style="">
                            <span><div id="calendar-start"></div></span>
                            <span><div id="calendar-end"></div></span>
                        </div>
                        <br/>
                        <button type="button" class="btn btn-dark" ng-click="submitRequest()">Submit Historical Data</button>
                        <br/><br/>
                        <table id="air-data" class="table table-striped dynamicTable">
                            <thead>
                                <th>Location</th>
                                <th>Date</th>
                                <th>Particle</th>
                                <th>Value</th>
                                <th>Unit</th>
                            </thead>
                            <tbody id="air-body" ng-repeat="values in airQuality track by $index" ng-if="isLatest">
								<tr ng-repeat="measure in values.measurements track by $index">
									<td>{{values.location}}</td>
									<td>{{measure.lastUpdated}}</td>
									<td>{{measure.parameter}}</td>
									<td>{{measure.value}}</td>
									<td>{{measure.unit}}</td>
								</tr>
                            </tbody>
                            <tbody ng-if="!isLatest">
                                <tr ng-repeat="values in airQuality track by $index">
                                    <td>{{values.location}}</td>
                                    <td>{{values.date.local}}</td>
                                    <td>{{values.parameter}}</td>
                                    <td>{{values.value}}</td>
                                    <td>{{values.unit}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <script>
                initFilterBody();
                initCalendar();
            </script>
        </div>
    </body>
</html>
